Body{


    background-color:darksalmon;
}
.Gospodar {
  color:darkorange;
    background-color:dimgrey;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Prstenovadružinaa {
  color:darkorange;
    background-color:dimgrey;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.PovratakKralja {
  color:darkorange;
    background-color:dimgrey;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Uvod {
    color:darkorange;
    background-color:dimgrey;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
  