body{
    background-color:snow;
}
.Gospodar {
    color: aqua ;
    background-color: silver;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Prstenovadružinaa {
    color: aqua;
    background-color: silver;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.fender {
    color: aqua;
    background-color:silver;
    font-size: 13pt;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.pocetni{
    text-align: center;
    color: skyblue;
}